.bj {
    background: url(../img/mainbg2.gif) no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

h3 {
    /*margin: 30px 0 30px 33%;*/
    font-size: 25px;
	font-family: "黑体";
    color: #FFFFFF;
    opacity: 60%;
}

.go {
    width: 12%;
    height: 25%;
}

.zi {
	width: 12%;
	height: 10%;
}

.direction{
    height: 80px;
	width: 50px;
	background-color:transparent;
	position:absolute;
	top: 85%;
	left: 5%;
	animation: move 6s infinite;
}

@keyframes move {
	0%{
		transform: translateX(0px);	
	}
	100%{
		transform: translateX(1660px);
	}
}

.direction:hover{
	animation-play-state: paused;
}

.title1{
    height: 40px;
	width: 100px;
	background-color:transparent;
	text-align: center;
	position:absolute;
	top: 5%;
	left: 25%;
	opacity: 1;/*标题透明度*/
	/*animation: move 3s infinite;*/

}

#zi1 {
    position: absolute;
    top: 50%;
    left: 5%;
    display: inline-block;
}

#zi2 {
    position: absolute;
    top: 50%;
    left: 22%;
    display: inline-block;
}

#zi3 {
    position: absolute;
    top: 50%;
    left: 37%;
    display: inline-block;
}

#zi4 {
    position: absolute;
    top: 50%;
    left: 52%;
    display: inline-block;
}

#zi5 {
    position: absolute;
    top: 50%;
    left: 67%;
    display: inline-block;
}

#zi6 {
    position: absolute;
    top: 50%;
    left: 82%;
    display: inline-block;
}

#go1 {
    position: absolute;
    top: 60%;
    left: 5%;
    display: inline-block;
}

#go2 {
    position: absolute;
    top: 60%;
    left: 22%;
    display: inline-block;
}

#go3 {
    position: absolute;
    top: 60%;
    left: 37%;
    display: inline-block;
}

#go4 {
    position: absolute;
    top: 60%;
    left: 52%;
    display: inline-block;
}

#go5 {
    position: absolute;
    top: 60%;
    left: 67%;
    display: inline-block;
}

#go6 {
    position: absolute;
    top: 60%;
    left: 82%;
    display: inline-block;
}

#game {
    width: 210px;
    height: 210px;
    position: absolute;
    top: 5%;
    left: 15%;
    display: inline-block;
}

#test {
    width: 210px;
    height: 210px;
    position: absolute;
    top: 20%;
    left: 50%;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 30px;
}

.prompt {
    float: left;
    width: 380px;
    /* height: 300px; */
    padding-left: 10px;
    /*border: 10px solid rgba(161, 187, 236, 0.527);*/
    border-radius: 10px;
    background-color: rgba(60, 245, 215, 0.7);
    display: none;
    font-weight: 500;
    line-height: 35px;
}

#prompt1 {
    position: absolute;
    bottom: 40%;
    left: 2%;
}

#prompt2 {
    position: absolute;
    bottom: 40%;
    left: 19%;
}

#prompt3 {
    position: absolute;
    bottom: 40%;
    left: 34%;
}

#prompt4 {
    position: absolute;
    bottom: 40%;
    left: 49%;
}

#prompt5 {
    position: absolute;
    bottom: 40%;
    left: 64%;
}

#prompt6 {
    position: absolute;
    bottom: 40%;
    left: 79%;
}

.go:hover {
    width: 15%;
    height: 30%;
}

#go1:hover+#prompt1 {
    display: block;
}

#go2:hover+#prompt2 {
    display: block;
}

#go3:hover+#prompt3 {
    display: block;
}

#go4:hover+#prompt4 {
    display: block;
}

#go5:hover+#prompt5 {
    display: block;
}

#go6:hover+#prompt6 {
    display: block;
}